.dashboard{
    position: relative;
    width: 100%;
    height: max(100vh, 40rem);
    margin: 0;
    padding: 0;
    background: black;
}
.guilds{
    position: absolute;
    top: 0;
    left: 0;
    width: 3rem;
    bottom: 0;
    padding: 0 0.3rem;
    background: #30475D;
    z-index: 5;
}
.guild{
    display: inline-block;
    position: relative;
    width: 3rem;
    height: 3rem;
    margin-top: 0.4rem;
    cursor: pointer;
}
.guild.hamburger{
    background: #10273D;
    border-radius: 50%;
    line-height: 0;
    transition: background 250ms;
}
.guild.hamburger:hover{
    background: #20374D;
}
.guild.hamburger::before{
    display: none;
}
.guild.hamburger > span{
    width: 1.5rem;
    display: inline-block;
    position: relative;
    top: 0.25rem;
    left: 0.6rem;
    margin-top: 0.4rem;
    border: 0.15rem solid white;
}
.guild.invalid{
    background: rgb(85, 19, 19);
    border-radius: 50%;
    line-height: 0;
    transition: background 250ms;
}
.guild.invalid::after{
    content: "!";
    position: absolute;
    font-size: 2rem;
    color: #fff;
    opacity: 0.5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.guild.invalid:hover{
    background: rgb(122, 35, 35);
}
.guild>img{
    border-radius: 50%;
    transition: border-radius 250ms;
    background: #123;
    width: 100%;
    height: 100%;
}
.guild>img.placeholder{
    background: #ddd;
}
.guild:hover>img, .guild.active>img{
    border-radius: 15%;
}
.guild::before{
    content: "";
    position: absolute;
    display: inline-block;
    left: -0.4rem;
    top: 1.5rem;
    width: 0;
    height: 0;
    padding: 0.1rem;
    border-radius: 0.1rem;
    background: #fff;
    opacity: 0;
    transition: opacity 100ms, height 250ms, top 250ms;
}
.guild:hover::before{
    opacity: 1;
}
.guild.active::before{
    opacity: 1;
    top: 1rem;
    height: 1rem;
}
.guild>.tooltip{
    pointer-events: none;
    opacity: 0;
    background: #123;
    position: absolute;
    top: 0.6rem;
    left: 3.4rem;
    line-height: 1;
    transition: opacity 250ms;
    padding: 0.2rem;
    color: #eee;
    border-radius: 0.2rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: min(90vw, 20rem);
    z-index: 10;
}
.guild:hover>.tooltip{
    opacity: 1;
}

.gameserverscontainer{
    position: absolute;
    left: 3.6rem;
    width: 19.6rem;
    top: 0;
    bottom: 0;
    transition: left 100ms;
}

.gameservers{
    position: relative;
    width: 18rem;
    height: calc(100% - 4.6rem);
    background: #10273D;
    z-index: 4;
    padding: 0.8rem;
    padding-top: 3.8rem;
    color: #eee;
}
.gameservers::before{
    content: "Game Servers";
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0rem;
    width: 18.1rem;
    height: 1.5rem;
    padding: 0.75rem;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    background: #30475D;
}
.gameserver{
    display: block;
    position: relative;
    margin: -0.6rem;
    margin-bottom: 0.8rem;
    background: #30475D;
    color: #eee !important;
    text-decoration: none !important;
    padding: 0.4rem;
    border-radius: 0.4rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
    transition: background 250ms;
}
.gameserver:hover{
    background: #40576D;
}
.gameserver.active{
    background: #50677D;
}
.gameserver .ip{
    font-size: 0.8rem;
    color: #77F;
}
.gameserver>.loading{
    position: absolute;
    top: 0.3rem;
    left: 0.2rem;
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    border: 0.1rem solid;
    border-color: transparent;
    border-top-color: white;
    animation: speen 1s ease 0s infinite;
}
.gameserver>.speening{
    position: absolute;
    top: 0.4rem;
    left: 0.25rem;
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    background: url('../img/dashed-circle.svg?v=2');
    background-size: contain;
    animation: speen 2s linear 0s infinite;
}
@keyframes speen{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
.gameserver:hover{
    background: #50677D;
}

.statuses{
    position: absolute;
    left: 23.2rem;
    right: 0;
    top: 0;
    bottom: 0;
    background: #00071D;
    color: #fff;
    padding: 0.8rem;
    transition: left 100ms;
}
@media only screen and (max-width: 65rem){
    .statuses{
        width: calc(100vw - 6.2rem);
    }
}
#showgameservers + .gameserverscontainer{
    left: -16rem;
}
#showgameservers + .gameserverscontainer + .statuses{
    left: 3.6rem;
}
#showgameservers:checked + .gameserverscontainer{
    left: 3.6rem;
}
#showgameservers:checked + .gameserverscontainer + .statuses{
    left: 23.2rem;
}

.status{
    
}
.status>.jumbotron{
    background: #356;
    background: linear-gradient(to bottom, transparent 0%, #356 100%);
    border-radius: 2rem;
}
.status>.jumbotron>.content{
    box-sizing: border-box;
    padding: 1rem;
}