/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  background: #e4e4ed;
  color: #555;
  font-size: 1em;
  font-family: "Roboto", "Source Sans", Arial, Helvetica, sans-serif;
  line-height: 1.2;
  overflow-x: hidden;
}

html,body{
  min-height: 100vh;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * No-JS rules
 */
html.no-js .js-only{
  display: none;
}
html.js .nojs-only{
  display: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

img{
  max-width:100%;
  max-height:100%;
  width:auto;
  height:auto;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Better tables
 */

table{
  width: 100%;
}
table td{
  vertical-align: top;
  text-align: left;
}


/*
 * Make paragraphs fit in panels better
 */

p:first-child,h1:first-child,h2:first-child,h3:first-child,h4:first-child,h5:first-child{
  margin-top:0;
}
p:last-child,h1:last-child,h2:last-child,h3:last-child,h4:last-child,h5:last-child{
  margin-bottom:0;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

ul{
  margin:0;
}
li{
  line-height: 1.4;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

code{
  display: inline-block;
  background: #000;
  padding: 0.1rem;
  border-radius: 0.2rem;
  color: #fff;
}
.dim{
  opacity: 0.75;
}
.block{
  display: block;
}
img.nointerpolate{
  image-rendering: pixelated;
  max-width: none;
  max-height: none;
}
.dark>*{
  color: #ddd;
}
.light>*{
  color: #222;
}
.dark{
  color: #ddd;
}
.light{
  color: #222;
}
a{
  text-decoration: none;
  color: #0d4bc4;
}
a:hover{
  color: #2263e6;
}
.dark>a{
  color: #2d67da;
}
.dark>a:hover{
  color: #3e7efd;
}
.light>a{
  color: #072e7c;
}
.light>a:hover{
  color: #1744a0;
}
.plain,.plain:hover{
  color: #555;
}
.dark>.plain{
  color: #ddd;
}
.light>.plain{
  color: #222!important;
}
.float-right{
  float: right;
}
.float-left{
  float: left;
}
.stretch-fill{
  z-index: -1;
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  max-width: none;
  max-height: none;
}
.flex{
  display: flex;
}
.flex-center{
  align-items: center;
  justify-content: center;
}
.blur{
  filter: blur(16px);
}
.dashed-outline{
  border: #fff 0.2rem dashed;
}
.text-center{
  text-align: center;
}
.rounded{
  padding: 0.4rem;
  border-radius: 0.4rem;
}
.themegradient{
  background: linear-gradient(to left, #134FB0 0%,#30475D 100%);
}
.themegradient-error{
  background: linear-gradient(to left, rgb(155, 40, 40) 0%,rgb(93, 48, 48) 100%);
}

.placeholder{
  animation: placeholderloop 1s ease 0.5s infinite;
  background: #ddd;
}
.placeholder.text{
  display: inline-block;
  width: 12em;
  max-width: 100%;
  height: 1em;
}
@keyframes placeholderloop{
  0% {opacity:0.6;}
  50% {opacity:0.3;}
  100% {opacity:0.6;}
}

.jumbotron{
  display: block;
  position: relative;
  height: 20rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
}
.jumbotron.compact{
  height: 10rem;
}
.jumbotron>.content{
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.jumbotron>.footer + .content{
  top: calc(50% - 1.5rem);
}
.jumbotron.compact>.footer + .content{
  top: calc(50% - 0.5rem);
}
.brand>h1{
  font-size: min(10vw,10rem);
  color: #fff!important;
  text-decoration: none!important;
  margin: 0;
  font-weight: 100;
}
.compact .brand>h1{
  font-size: min(10vw, 6rem);
}
.jumbotron>.background{
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index: 0;
  overflow: hidden;
}
.jumbotron>.footer{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3em;
  z-index: 2;
  text-align: center;
}
nav{
  display: flex;
  justify-content: center;
  flex: 1;
  width: 100%;
  text-align: left;
}
nav a{
  background: rgba(255,255,255,0.25);
  color: #000!important;
  text-decoration: none!important;
  transition: background 250ms;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1;
  padding: 1rem;
  max-height: calc(1rem - 1px);
  margin-bottom: 1px;
}
nav>a:first-child{
  border-radius: 1rem 0 0 1rem;
}
nav>a:last-child{
  border-radius: 0 1rem 1rem 0;
}
nav a:hover{
  background: rgba(255,255,255,0.65);
  color: #000!important;
}
nav>a:not(:last-child),nav>div:not(:last-child){
  margin-right: 1px;
}
nav .parent{
  position: relative;
  display: flex;
}
nav .parent>a{
  padding-right:3rem;
}
nav .parent>.dropdown{
  position: absolute;
  top: 3rem;
  left: 0;
  width: max-content;
  background: rgb(60, 89, 116);
  border-radius: 0 1rem 1rem 1rem;
  overflow: hidden;
  opacity: 0;
  transition: opacity 250ms;
  display: flex;
  flex: 2;
  flex-direction: column;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
}
nav .parent::before{
  content: '▼';
  position: absolute;
  top: 1rem;
  right: 1rem;
  pointer-events: none;
  color: black;
}
nav .parent:hover>.dropdown{
  opacity: 1;
}
nav .parent>.dropdown>a:last-child{
  margin-bottom: 0;
}
nav .parent>.dropdown>a{
  display: none;
}
nav .parent:hover>.dropdown>a{
  display: block;
}
.jumbotron.main{
  z-index: 10;
}
.wrapper.main{
  padding: 3rem 0;
}
.wrapper,wrapper{
  display: block;
  margin: 0 8vw;
}

.overlay{
  background: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.slider{
  overflow-x: auto;
  white-space: nowrap;
  text-align: center;
}

.card{
  background: #fff;
  display: inline-block;
  width: 100%;
  white-space: normal;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0.5vw;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
  overflow: hidden;
  box-sizing: content-box;
}
.card.selected{
  border: 0.2rem solid black;
}
.card table{
  margin: -0.25rem;
  border-spacing: 0.25rem;
}
.card table td{
  padding: 0.25rem;
}
.card table td:not(:last-child){
  border-right: #ddd solid 1px;
}
.card>.header{
  margin: -1rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
  border-bottom: #aaa solid 1px;
  background: #ccc;
}
.card.dark>.header{
  background: #333;
  border-bottom-color: #555;
}
.card>.background{
  height: 15rem;
  background-size: cover;
  background-position: center;
  position: relative;
  margin: -1rem;
  margin-bottom: 1rem;
}
.card>.background .close{
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: #fff!important;
  line-height: 0.5;
}
.card>.footer{
  margin: -1rem;
  margin-top: 1rem;
  padding: 0.75rem;
  text-align: right;
  background: #134FB0;
  background: linear-gradient(to left, #134FB0 0%,#30475D 100%);
  position: relative;
}
.card>.footer>.left{
  position: absolute;
  left: 0.75rem;
  text-align: left;
}

.card>.footer .btn {
  color: #ddd!important;
  background-color: rgba(255,255,255,0);
  transition: all 250ms;
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0.5rem;
  text-decoration: none !important;
}
.card>.footer .btn:hover {
  color: #fff!important;
  background-color: rgba(255,255,255,0.4);
}

.games{
  text-align: center;
  column-count: 3;
  column-gap: 0.5rem;
}
.games>.game{
  width: 90%;
}
.game>.background>img{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.game>.content{
  text-align: left;
}

.togglestats:not(:checked) + .perks{
  display: block;
}
.togglestats:not(:checked) + .perks + .specs{
  display: none;
}
.togglestats:checked + .perks{
  display: none;
}
.togglestats:checked + .perks + .specs{
  display: block;
}

/* ==========================================================================
   Layout system
   ========================================================================== */

:root{
  --third: 26vw;
  --half: 40vw;
  --full: 82.5vw;
}

.third{
  width: var(--third);
  box-sizing: border-box;
}
.half{
  width: var(--half);
  box-sizing: border-box;
}
.full{
  width: var(--full);
}
@media only screen and (max-width: 65rem){
  .third{
    width: var(--half);
  }
  .half{
    width: var(--full);
  }
  .games .half{
    width: 100%;
  }
  .games{
    column-count: 2;
  }
}
@media only screen and (max-width: 35rem){
  .third{
    width: var(--full);
  }
  .games .third{
    width: 100%;
  }
  .games{
    column-count: 1;
  }
}
   
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `::before` to contain the top-margins of child elements.
*/

.clearfix::before,
.clearfix::after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]::after {
    content: " (" attr(href) ")";
  }
  abbr[title]::after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

